<div class="row form-group">
  <div class="form-group">
  <div class="col-xs-2 col-sm-2 col-md-2">
    <p>UserName</p>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-10">
    <input type="text"  class="form-control">
  </div>
</div>
</div>
<div class="row">
 <div class="form-group">
  <div class="col-xs-2 col-sm-2 col-md-2">
    <p>Password</p>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-10">
    <input type="password"  class="form-control">
  </div>
</div> 
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 loginButton">
      <button type="button"   class="btn btn-primary">Login</button>
</div> 
</div>  