<h1>Home Title Page</h1>
<p>Change this as you like</p>
<div class="row">
<div class="col-md-6 col-xs-6">
 <img src="../../assets/images/baby.jpg" class="image"> 
 <h2>Jacob Marshal</h2>
 <h3>{{displayName}}</h3>
 <p>A man</p>
 <p>United States</p>
 <div class="row">
 <div class="col-md-12 col-xs-12">
  <button class="btn btn-primary fixed-button">Details</button>
 </div>  
 </div>
 <div class="row margin-top-ten">
  <div class="col-md-12 col-xs-12">
    <button class="btn btn-primary fixed-button">Edit in Back-Office</button>
  </div>  
  </div>


</div>
<div class="col-md-6 col-xs-6">
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->  
 <div class="row">
  <div class="col-xs-12 col-md-12">
 <div class="row">
 <div class="col-xs-12 col-md-12 border border-bottom-0" style="background-color:lightgrey;">
<p style=" margin:0px;">About me</p>  
 </div>  
 </div> 
     <div class="row border">
    <div class="col-xs-6 col-md-6">
   <p>Micro bio:</p>  
    </div>  
    <div class="col-xs-6 col-md-6">
        <p>I am a demo moderator for the site</p>  
        <p>I like to keep things clean</p>  
         </div> 
    </div> 
</div>
</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<div class="row">
    <div class="col-xs-12 col-md-12" style="margin-top: 10px;">
   <div class="row">
   <div class="col-xs-12 col-md-12 border border-bottom-0" style="background-color:lightgrey;">
  <p style=" margin:0px;">About me</p>  
   </div>  
   </div> 
       <div class="row border">
      <div class="col-xs-6 col-md-6">
     <p>Twitter:</p> 
     <p>Twitter:</p> 
     <p>Twitter:</p>  
      </div>  
      <div class="col-xs-6 col-md-6">
          <p>I am a demo moderator for the site</p>  
          <p>I like to keep things clean</p> 
          <p>I like to keep things clean</p>  
           </div> 
      </div> 
  </div>
  </div>
  <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
</div>
</div>